{include="header"}
			<div id="transactions">
				<h2>View Your Transactions</h2>
				<p>Positive amounts are credits (<em>you are owed</em>), <span class="negativecurrency">negative amounts</span> are debits (<em>you owe</em>).</p>
				{if="$balance >= 0"}
					<p class="highlighttext">You are <strong>{function="format_currency($balance)"}</strong> in credit.</p>
				{else}
					<p class="highlighttext">You owe <strong>{function="format_currency($balance)"}</strong>.</p>
				{/if}
				<table border="1">
					<tr>
						<th>Date</th>
						<th>Transaction</th>
						<th>Amount</th>
						<th>New Balance</th>
					</tr>
					{if="count($transactions)"}
					{loop="$transactions"}
					<tr>
						<td>{function="date('d-m-Y', $value.time)"}</td>
						<td>{$value.comment}</td>
						<td>{function="format_currency($value.amount)"}</td>
						<td>{function="format_currency($value.runningbalance)"}</td>
					</tr>
					{/loop}
					{/if}
					<tr>
						<td>Start</td>
						<td>Initial Balance</td>
						<td>{function="format_currency($startingBalance)"}</td>
						<td>{function="format_currency($startingBalance)"}</td>
					</tr>
				</table>
			</div>
{include="footer"}
